@font-face {
    src: url('../Fonts/Lexend/Lexend-VariableFont_wght.ttf') format(ttf);
    font-family: 'Lexend';
    font-style: normal;
    font-weight: normal;   
}
 
@font-face {
    src: url('../Fonts/Ovo/Ovo-Regular.ttf') format(ttf);
    font-family: 'Ovo';
    font-style: normal;
    font-weight: normal;   
}
 
@font-face {
    src: url('../Fonts/Pinyon_Script/PinyonScript-Regular.ttf') format(ttf);
    font-family: 'Pinyon Script';
    font-style: normal;
    font-weight: normal;   
}
 
html, body {
    margin: 0;
    padding: 0;
}
 
.main-navigation {
    background-color: #102C57;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    left: 0;
    top: 0;
    padding: 35px 0;
    position: fixed;
    width: 100%;
    z-index: 100;
}
 
.main-navigation ul {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 320px;
    margin: 0;
    padding: 0;
}
 
.main-navigation li a {
    color: white; 
    font-family: 'Lexend';
    font-size: 35px;
    font-weight: lighter;
    text-decoration: none; 
}
 
.main-navigation li a {
    color: #aaa;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s ease;
}
 
.main-navigation li a:hover {
    color: white
}
 
#HA {
    color: white;
}
 
#PA {
    color: white;
}
 
#AA {
    color: white;
}
 
#main-brand {
    margin-top: 100px;
}

#Home-Top {
    background-image: url(../Images/Background/Home_Top.png);
    background-position: center;
    background-size: cover;
    min-width: 100vh;
    min-height: 100vh;
    padding-top: 60px;
    position: relative;
}
  
#Logo-Cafe {
    height: auto;
    position: absolute;
    right: 100px;
    top: 22%;
    width: 29%;
}
  
#main-brand {
    color: #111a27;
    font-family: 'Lexend';
    font-size: 50px;
    margin-left: 3%;
    bottom: 400px;
    position: absolute;
}
  
#slogan {
    color: #111a27 ;
    font-family: 'Ovo';
    font-size: 50px;
    margin-left: 3%;
    top: 45%;
    position: absolute;
    width: max-content;
}
  
#slogan span {
    font-family: Pinyon Script;
}
  
#Home-Mid {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    height: 100vh;
    justify-content: space-around;
    padding: 50px 8%;
    position: relative;
    overflow: hidden;
}
  
.fitur {
    color: white;
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: Lexend;
    font-size: 16px;
    line-height: 1.6;
    max-width: 300px;
    padding: 3%;
    position: relative;
    text-align: center;
    z-index: 1;
}
  
.fitur img {
    margin-bottom: 15px;
    height: auto;
    width: 100px;
}
  
.video-background {
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
    position: absolute;
    overflow: hidden;
    transform: scale(1.8);
    z-index: 0;
}
  
.video-background video {
    min-width: 100%;
    min-height: 100%;
    left: 0;
    top: 0;
    object-fit: cover;
    position: absolute;  
}
  
.video-overlay {
    background-color: rgba(0, 0, 0, 0.703);
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
    pointer-events: none;
    z-index: 1;
}
  
#Home-Bottom {
    background-image: url(../Images/Background/Home_Bottom.png);
    background-position: center;
    background-size: cover;
    min-width: 100vh;
    min-height: 100vh;
    padding-top: 180px;
    position: relative;
}
  
#Home-Bottom p {
    color: #111a27 ;
    font-family: 'Ovo';
    font-size: 30px;
    font-weight: bold;
    text-align: right;
    margin-left: 48%;
    position: absolute;
    top: 30%;
    width: max-content;
}
  
#Home-Time {
    font-family: 'Lexend';
}

#Products {
    background-image: url(../Images/Background/Products_Background.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
    padding-top: 120px;
    position: relative;
    width: 100%; 
}

.prod {
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    border-radius: 20px;
    align-items: center;
    display: flex;
    gap: 35px;
    margin: 20px auto;
    max-width: 90%;
    padding: 20px 40px;
    transition: transform 0.2s ease;
}

.prod:hover {
    transform: scale(1.01);
}

.prod-img img {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 703);
    border: 4px solid #152347;
    border-radius: 15px;
    margin-bottom: -50px;
    height: 200px;
    width: 180px;
    object-fit: cover;
}

.prod-info {
    flex: 1;
}

.prod-name {
    color: #111a27;
    font-family: 'Lexend';
    font-size: 33px;
    font-weight: 700;
    margin-bottom: 5px; 
}

.prod-desc {
    color: #444;
    font-size: 20px;
    line-height: 1.6;
    margin: 8px 0;   
}

.prod-price {
    color: #000;
    font-size: 23px;
    font-weight: bolder;
    margin-top: 8px;
}

.prod-rate {
    color: #333;
    font-size: 18px;
    margin-top: 5px;
}
  
#About-Top {
    background-image: url(../Images/Background/About_Top.png);
    background-position: center;
    background-size: cover;
    min-width: 100vh;
    min-height: 100vh;
    margin-top: 100px;
    padding-top: 20px;
    position: relative;  
}

#About-History {
    color:#111a27 ;
    font-family: 'Ovo';
    font-size: 25px;
    font-weight: bold;
    margin-left: 37%;
    text-align: right;
    top: 14%;
    position: absolute;
    width: max-content;
}
 
#About-History span {
    font-family: 'Lexend';
    font-size: 48px;
    font-weight: bolder;
}

#About-History span1 {
    font-family: 'Pinyon Script';
    font-size: 45px;
    font-weight: bolder;
    margin-right: 15%;
}

#About-History span2 {
    font-family: 'Pinyon Script';
    font-size: 45px;
    font-weight: bolder;
}
  
#About-Mid {
    background-color: #dac0a3 ;
    background-position: center;
    background-size: cover;
    min-width: 100vh;
    min-height: 100vh;
    padding-top: 20px;
    position: relative;   
}
  
#About-Quote {
    color: black;
    font-family: 'Ovo';
    font-size: 42px ;
    margin-top: 12%;
    text-align: center;
}

#About-Yapping {
    font-family: 'Lexend';
    font-size: 25px;
    text-align: center;
}
  
#About-Bottom {
    background-image: url(../Images/Background/About_Bottom.png);
    background-position: center;
    background-size: cover;
    min-width: 100vh;
    min-height: 100vh;
    padding-top: 20px;
    position: relative;
}   
  
#About-End {
    color: #111a27 ;
    font-family: 'Ovo';
    font-size: 57px;
    margin-left: 3%;
    position: absolute;
    top: 35%;
    width: max-content;
}
  
#About-End span {
    font-family: 'Pinyon Script';
}
  
#About-End span1 {
    font-family: 'Lexend';
}
  
#About-Quote span1 {
    font-family: 'Lexend';
}
  
#About-Quote span2 {
    font-family: 'Pinyon Script';
}
  
footer {
    color: #eee;
    background-color: #102C57;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0px 0px 0px 0px;
    padding: 5px 5px 40px 40px;
}
   
.foot-info,
.foot-franchise {
    font-family: 'Lexend';
    margin-top: 40px;
    margin-bottom: 10px;
}
   
.foot-info h3 {
    font-size: 20px;
    font-weight: normal;
}
   
.foot-info p {
    font-size: 20px;
    margin-top: 10px;
}
   
.foot-franchise ul {
    list-style: none;
    margin-left: 0;
    padding: 0px;
}
   
.foot-franchise li {
    font-size: 23px;
    margin-bottom: 8px;
    padding-right: 40px;
}
   
.foot-franchise {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
}
   
.foot-franchise .col1,
.foot-franchise .col2,
.foot-franchise .col3 {
    list-style: none;
    padding: 0px;
}